<div class="container" style="font-family: montserrat;" >
    <div class="jumbotron jumbo">
        <div><h1 style="font-weight: 800;">Hii {{username}},</h1></div>
        <div><h2>Quiz Category: {{quizCat}}</h2></div>
        <div><h2>Quiz Name: {{quizName}}</h2></div>
        <div style=" font-weight: 600; font-size: 25px;">Quiz Level: {{Qlevel}}</div>
        <div style=" font-weight: 600; font-size: 15px;">Quiz Date: {{date | date: 'shortDate'}}</div>
        <div style="text-align: center; "><h2 style="font-weight: 800;">Your Score</h2></div>
        <div style="text-align: center;"><h1 style="font-weight: 900;">{{score}}/10</h1></div>
    </div>
    {{setZero()}}
    <div *ngFor="let question of questions;let indexOfElement=index" class="container containerShadow" >
        <div class="Qno">Question no: {{Incre()}}</div>
        <div class="Qtext">{{question.text}}</div>
        <div *ngIf="ansList[indexOfElement]==-1" class="alert alert-warning border border-warning" style="font-weight: 900;color: black;"> NOT Attempted !!!</div>
        <div *ngFor="let number of opt"> 
           
            <div *ngIf="question.answerIndex==number" class="alert alert-success border border-success"><span>{{question.options[opt[number]]}} </span> <span style="float: right;">Correct Answer  <img src="../../assets/check2-circle.svg" alt=""></span></div>
            <div *ngIf="!(question.answerIndex==number) && number==ansList[indexOfElement]" class="alert alert-danger border border-danger"> <span>{{question.options[opt[number]]}} </span> <span style="float: right;">Your Answer <img src="../../assets/clipboard-x.svg" alt=""></span></div>
            <div *ngIf="!(question.answerIndex==number) && !(number==ansList[indexOfElement])"  class="alert alert-seconday"><span>{{question.options[opt[number]]}} </span> </div>
            
        </div>
      
    </div>
   {{setZero()}}

    <div style="text-align: center;"><button (click)="home()"class="btn " style="margin: 40px; font-size: 30px; background-color: #ff9334da;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);"> Back to the Category</button></div>
</div>