<div id="container" *ngIf="entry">
  <div id="quiz-info">
    Quiz Category: <b> {{entry.quiz.category}} </b> &nbsp;&nbsp;&nbsp;
    Difficulty Level:
    <b>{{quiz_level[entry.quiz ? entry.quiz.level : 0]}}</b> &nbsp;&nbsp;&nbsp;
    Quiz number: <b>{{entry.quiz.name}} </b>
  </div>
  <p>
    Attempted on : {{entry.user.date?.toMillis() | date:'dd/MM/yyyy h:mm:ss a'}}
  </p>
  <p>Result: {{entry.user.score <= 6 ? "Failed" : "Passed"}}</p>
  <div *ngFor="let question of entry.quiz.questions; let questionIndex = index">
    <div id="question">
      <div id="question-name">{{question.text}}</div>
      <span
        *ngIf="entry.user.answers[questionIndex] == -1"
        class="text-red text-warning text-warning"
      >
        &#9888; Not Attempted
      </span>
      <div
        class="container"
        style="font-size: x-large; text-align: left; padding: 5%"
      >
        <div>
          <ul>
            <li
              *ngFor="let option of question.options; let optionIndex = index"
            >
              <label
                class="container"
                for="test{{questionIndex}}-{{optionIndex}}"
                [ngClass]="optionIndex == question.answerIndex ? 'border-success text-success': 'border-danger text-danger'"
                >{{option}}
                <input
                  type="radio"
                  value="{{option}}"
                  id="test{{questionIndex}}-{{optionIndex}}"
                  name="radio"
                  disabled="true"
                />
                <span class="checkmark"></span>
                <span *ngIf="entry.user.answers[questionIndex] == optionIndex">
                  <span
                    *ngIf="optionIndex == question.answerIndex; else elseBlock"
                  >
                    &#10004;
                  </span>
                  <ng-template #elseBlock> &#10008;</ng-template>
                </span>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <br />
      <p></p>
    </div>
  </div>
  <br />
  <p></p>
</div>
