<div id="container">
  <div id="quiz-info">
    Quiz Category: <b> {{quiz?.name}} </b> &nbsp;&nbsp;&nbsp; Difficulty Level:
    <b>{{quiz_level[quiz!.level]}}</b> &nbsp;&nbsp;&nbsp; Quiz Number:
    <b>{{currentIndex}} </b>
  </div>
  <div id="question" *ngIf="quiz?.questions?.length">
    <div id="question-info">Question {{currentIndex+1}} out of 10</div>
    <div>
      {{quiz!.questions[currentIndex]!.text}}
      <form>
        <div
          class="container"
          style="font-size: x-large; text-align: left; padding: 5%"
        >
          <div class="row">
            <div class="col">
              <label class="container" for="test1"
                >{{quiz!.questions[currentIndex].options[0]}}
                <input
                  type="radio"
                  value="{{quiz!.questions[currentIndex].options[0]}}"
                  id="test1"
                  name="radio"
                  (click)="markAnswer(0)"
                  [checked]="wasSelected(0)"
                />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col">
              <label class="container" for="test2"
                >{{quiz!.questions[currentIndex].options[1]}}
                <input
                  type="radio"
                  value="{{quiz!.questions[currentIndex].options[1]}}"
                  id="test2"
                  name="radio"
                  (click)="markAnswer(1)"
                  [checked]="wasSelected(1)"
                />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <label class="container" for="test3"
                >{{quiz!.questions[currentIndex].options[2]}}
                <input
                  type="radio"
                  value="{{quiz!.questions[currentIndex].options[2]}}"
                  id="test3"
                  name="radio"
                  (click)="markAnswer(2)"
                  [checked]="wasSelected(2)"
                />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col">
              <label class="container" for="test4"
                >{{quiz!.questions[currentIndex].options[3]}}
                <input
                  type="radio"
                  value="{{quiz!.questions[currentIndex].options[3]}}"
                  id="test4"
                  name="radio"
                  (click)="markAnswer(3)"
                  [checked]="wasSelected(3)"
                />
                <span class="checkmark"></span>
              </label>
            </div>
            <p></p>
          </div>
        </div>
        <button
          id="prev_question"
          (click)="previousQuestion()"
          *ngIf="currentIndex > 0"
        >
          Previous
        </button>
        <button
          id="next_question"
          (click)="nextQuestion()"
          *ngIf="currentIndex < quiz!.questions.length - 1"
        >
          Next
        </button>
        <button id="next_question" (click)="submitTest()">Submit Quiz</button>
      </form>
    </div>
    <br />
    <p></p>
  </div>
</div>
