<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="/home"
      ><img src="../../assets/Logo.png" width="auto" height="70" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      *ngIf="authService.isLoggedIn() else noheader"
      style="display: contents"
    >
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100">
          <li class="nav-item dropdown ml-auto">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                src="../../assets/User.png"
                width="auto"
                height="40"
                alt=""
              />
            </a>
            <div
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink"
              role="menu"
            >
              <a class="dropdown-item" routerLink="profile">My profile</a>
              <a class="dropdown-item" routerLink="/">Home</a>
              <a class="dropdown-item" (click)="SignOut()">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <ng-template #noheader></ng-template>
  </nav>
</div>
