.navbar-nav span a{
    width: 25%;
    padding-left: 10px;
    padding-top: 10px;
     display: inline-block;
     color:black;
     text-align: center;
     font-size: 25px;
     font-weight: 1000;

 }
 @media screen and (orientation: portrait) {
    .navdiv {
        height: 250px;  align-content: center;  width: 100%;  background: #F2994A5E;
    }
    .navbar-nav{
        display: flex;
     }
  }
  @media screen and (orientation: landscape) {
    .navdiv {
        height: 100px;  align-content: center;  width: 100%;  background: #F2994A5E;
    }
    .navbar-nav {
        display: inline-block;
     }
  }
 
.navbar-nav{
    width: 100%;
    padding: 50px;
   padding-top: 1%;
  text-align: center;
  font-family: Montserrat;
}

.navbar-nav a:hover { 
         color: white ;
         border-bottom: 8px solid orange;
         background-color: rgb(241, 159, 6);
         border-radius: 4px;
         text-decoration: none;
    }

.myactive{
    border-bottom: 8px solid orange;
    border-bottom-width: 10px;
     font-weight: 1100;   
      font-size: 30px;
     border-radius: 5px;
     text-decoration: none;
    
}