    <div style="margin-left: 100px;" >
        <div class="row" >
            <div *ngFor="let doc of docList">
                <div class="card col-sm-12" >
                    <div class="card-body" >
                        <h4 class="card-title">{{subject}} </h4>
                        <h4 class="card-title2">{{doc.data().name}}</h4>
                           <p class="card-text">Number of Questions: 10</p>
                        <button  (click)="btnClick(doc)"  class="btn btn-light">START QUIZ</button>
                        <!-- <button *ngIf="!checkAttempt(doc.id)" (click)="btnClick(doc)"  class="btn btn-light">START QUIZ</button>
                        <button *ngIf="checkAttempt(doc.id)" (click)="btnClick(doc)"  class="btn btn-success">COMPLETED</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

