#container{
    width: 70%;
    background: #FFFFFF;
    border: 1px solid #868686;
    box-sizing: border-box;
    border-radius: 20px;
	  margin: auto;
    margin-top: 3%;
}
#quiz-info{
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    font-size: x-large;
    padding: 2%;
}
#question-info{
    border-bottom: 1px solid #CCCCCC;
    text-align: center;
    font-size: xx-large;
    padding: 2%;
}
#question{
    text-align: center;
    font-size: xx-large;
}
#question-name{
    height: 130px;
    margin-top: 25px;
    padding: 15px;
    font-size: x-large;
    font-weight: bold;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
  padding-top: 10px;
}
ul li {
  height: 100px;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #F2994A;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: white;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #F2994A;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display:contents;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
      
    border:#F2994A;
  }
#prev_question{
    background: #F2994A;
    border: 1px solid #FFCE31;
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    font-size: x-large;
    float: left;
    margin-left: 30px;
}
#next_question{
    background: #F2994A;
    border: 1px solid #FFCE31;
    box-sizing: border-box;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    font-size: x-large;
    float: right;
    margin-right: 30px;
}